.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
}
.checkout__left > img {
  width: 100%;
  margin-bottom: 10px;
  height: 100px;
  object-fit: contain;
}

.checkout__right {
  /* background-color: rgb(223, 221, 217); */
}

.checkout__title {
  border-bottom: 1px solid black;
}
