.checkoutproduct {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  border-bottom: 2px solid wheat;
  margin: 10px;
}

.checkoutproduct__detail {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 20px;
}
.checkout__back {
  /* border: 5px solid green; */
  flex: 0.5;
}

.checkoutproduct__img {
  /* wid: 10%;th */
}
.checkoutproduct__img > img {
  /* object-fit: contain; */
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.checkoutproduct__detail__price {
  font-size: large;
  font-weight: bold;
  margin-top: 10px;
  margin: 5px;
}

.checkoutproduct__detail__button {
  background-color: orange !important;
  border: 1px solid black !important;
  width: fit-content;
  /* flex: 1; */
  /* margin: 10px; */
}
.product__button__body {
  display: flex;
  justify-content: center;
  width: fit-content !important;
}
