.login {
  display: grid;
  place-items: center;
  align-items: center;
  /* background-color: lightpink; */
}

.login > img {
  width: 100px;
  height: 80px;
  object-fit: contain;
}
.login__form {
  /* background-color: white; */
  display: flex;
  width: 296px;
  height: fit-content;
  flex-direction: column;
  /* border: 1px solid rgb(46, 214, 116); */
  margin: 30px;
}
.login__button {
  background-color: orange !important;
  margin-top: 20px !important;
}
.login__form > input {
  border-radius: 3px;
  width: 100%;
  padding: 6px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.login__body {
  border: 5px solid lightgray;
}
.login__signup {
  margin-top: 40px;
  width: 296px;
  background-color: white;
}
.login__create {
  margin-top: 20px !important ;
  background-color: lightgray !important;
}
