.ordername {
  display: flex;
}
.ordername__body {
  flex: 0.5;
  display: flex;
  background: rgb(255, 255, 255);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 10px;
}
.ordername__img > img {
  width: 200px;

  object-fit: contain;
}
.ordername__detail__des {
  font-size: large;
  font-style: italic;
  font-weight: 500;
}
.ordername__detail {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.ordername__detail__price {
  font-size: large;
  font-weight: 700;
}
